/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.idea/
/public/usercontent
/public/2019-12
/public/2020-01
/public/2020-02
/public/2020-03
