global:
    scrape_interval:     15s
    evaluation_interval: 15s

rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'laravel'
    scrape_interval: 20s
    scrape_timeout: 10s
    static_configs:
      - targets: ['nginx']