image: alpine:latest

variables:
  POSTGRES_ENABLED: "false"
  DATABASE_URL: ""

  DOCKER_DRIVER: overlay2
  ROLLOUT_RESOURCE_TYPE: deployment
  DOCKER_TLS_CERTDIR: "" # https://gitlab.com/gitlab-org/gitlab-runner/issues/4501

  PRODUCTION_ADDITIONAL_HOSTS: "azarex.net"
  REVIEW_DEVELOP_ADDITIONAL_HOSTS: "next.azarex.net"
  ADMIN_ADDITIONAL_HOSTS: "admin.azarex.net"

stages:
  - build
  - test
  - deploy # dummy stage to follow the template guidelines
  - review
  - dast
  - staging
  - canary
  - production
  - incremental rollout 10%
  - incremental rollout 25%
  - incremental rollout 50%
  - incremental rollout 100%
  - performance
  - cleanup

include:
  - template: Jobs/Build.gitlab-ci.yml # https://gitlab.com/gitlab-org/gitlab-foss/blob/master/lib/gitlab/ci/templates/Jobs/Build.gitlab-ci.yml
  - template: Jobs/Deploy.gitlab-ci.yml
