/node_modules
/public/hot
/public/storage
/public/storage/api-docs
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.msm
/storage/api-docs/api-docs.json
.vscode/*
.vscode/settings.json
./docker-compose/*
